<section class="mt-4 container">
    <div class="text-center testo m-auto">
        <h2 class="">Testymonials</h2>
    </div>

    <div class="row justify-content-between">
        <div class="d-flex round gx-5 position-relative">
            <div class="col-3">
                    <img src="../../../assets/images/logo.png" alt="" class="w-75 ms-4 mt-4">
                </div>
                <div class="col-9  mt-4">
                    <h4>Country Henry</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi earum natus asperiores atque ullam illo.
                        Iure laborum, illum, animi mollitia dicta, officiis nam vitae voluptates eos sit est temporibus. Aut commodi
                        cumque perferendis quia porro optio voluptas itaque quam?
                    </p>
                    <ul class="star position-absolute">
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li>                          
                     </ul>
                </div>
        </div>
        <div class="d-flex round gx-5 position-relative">
            <div class="col-3">
                    <img src="../../../assets/images/logo.png" alt="" class="w-75 ms-4 mt-4">
                </div>
                <div class="col-9  mt-4">
                    <h4>Country Henry</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi earum natus asperiores atque ullam illo.
                        Iure laborum, illum, animi mollitia dicta, officiis nam vitae voluptates eos sit est temporibus. Aut commodi
                        cumque perferendis quia porro optio voluptas itaque quam?
                    </p>
                    <ul class="star position-absolute">
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li>                          
                     </ul>
                </div>
        </div>
    </div>
    
    <div class="row justify-content-between">
        <div class="d-flex round gx-5 position-relative">
            <div class="col-3">
                    <img src="../../../assets/images/logo.png" alt="" class="w-75 ms-4 mt-4">
                </div>
                <div class="col-9  mt-4">
                    <h4>Country Henry</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi earum natus asperiores atque ullam illo.
                        Iure laborum, illum, animi mollitia dicta, officiis nam vitae voluptates eos sit est temporibus. Aut commodi
                        cumque perferendis quia porro optio voluptas itaque quam?
                    </p>
                    <ul class="star position-absolute">
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li>                          
                     </ul>
                </div>
        </div>
        <div class="d-flex round gx-5 position-relative">
            <div class="col-3">
                    <img src="../../../assets/images/logo.png" alt="" class="w-75 ms-4 mt-4">
                </div>
                <div class="col-9  mt-4">
                    <h4>Country Henry</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi earum natus asperiores atque ullam illo.
                        Iure laborum, illum, animi mollitia dicta, officiis nam vitae voluptates eos sit est temporibus. Aut commodi
                        cumque perferendis quia porro optio voluptas itaque quam?
                    </p>
                    <ul class="star position-absolute">
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li> 
                        <li><i class="fa-solid fa-star"></i></li>                          
                     </ul>
                </div>
                
        </div>
    </div>











</section>