<section class=" mt-5">
    <div class="position-relative">
        <div>
            <img class="img1 w-100" src="../../../assets/images/garbage1.png" alt="">
            <img class="img2 position-absolute top-0 end-0" src="../../../assets/images/slide1.png" alt="">
        </div>
        <div class="caption w-25">
            <div>
                <h2 class="mb-4">About Us</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eum quidem tenetur
                    corrupti culpa cumque
                    possimus officia dolorum porro sint?
                </p>
                <img class="img3" src="../../../assets/images/garbage2.png" alt="">
            </div>
        </div>

        <div class="caption2 w-25">
            <h1 class="mt-5">Where</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo exercitationem nulla quisquam vero
                voluptatum voluptatem, dolore voluptas, libero ad enim nam, at nostrum magnam rerum earum. Dicta, quo ab
                blanditiis a explicabo vel quod accusamus ipsum voluptatum vero veniam voluptatem dolorum totam illum omnis
                illo doloremque ipsam aliquid adipisci est quia qui. Earum maiores
            </p>
        </div>

        <button>Help Me</button>
    </div>
    
</section>