<section>
    <div class="homeBackGround">
        <div>
            <div class="row">
                <div class="d-flex justify-content-end caption">
                    <img class="icon" src="../../../assets/images/Trash Hauling.png" alt="logo">
                    <h2 class="round">Round Rock</h2>
                </div>
            </div>
            <div class="row ">
                <h6 class="trash bg-transparent">Trash Hauling</h6>
            </div>
            <div class="row">
                <button class="bg-primary">
                    Experts
                </button>
            </div>
            <div class="row">
                <h1 class="p1">Lorem</h1>
                <h2 class="p2">Lorem ipsum</h2> 
                <h2 class="p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates numquam repellendus quod sit quo
                    doloremque neque deserunt rem perferendis illo
                </h2>
           
            </div>

            <div class="row">
                <button class="bg-primary btn2">
                    Help Me
                </button>
            </div>
        </div>
    </div>
</section>