<section class="w-75 m-auto p-4 my-3">
    <div class="text-center con m-auto">
        <h2>Contact us</h2>
    </div>

    <div class="row mx-auto">

        <div class="col-6 form">
            <form [formGroup]="contactForm" (ngSubmit)="handleForm()">

                <div class="form-item">
                    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
                </div>

                <div class="form-item">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>

                <div class="form-item">
                    <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="Phone">
                </div>


                <button class="mt-2">Send<span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i> </span></button>


            </form>
        </div>
        <div class="col-6">
            
            <div class="icons">
                <ul>
                    <li><i class="fa-solid fa-envelope my-4"></i>  {{email}}</li>
                    <li><i class="fa-solid fa-phone mt-4"></i>  {{phone}}</li>
                </ul>
            </div>


        </div>
    </div>






</section>