.serv{
    color: #6D91EE;
    width: 15%;
    padding: 10px;
    border: 2px solid #6D91EE;
    position: relative;
}

.cover{
    width: 15%;
    padding: 10px;
    border: 2px solid #fdfdfd;
    position: relative;
    rotate: 25%;
}

.images{
    width: 300px;
    height: 300px
}

button{
    margin: 20px;
    padding: 20px 60px;
    border-radius: 25px;
    background: #6D91EE;    
    border: none;
    top: 450px;
    right: 550px;
    width: 20%;
}