<section class="mt-4 container">
    <div class="text-center serv m-auto">
        <h2 class="">Service</h2>
    </div>

    <div class="mt-5 row justify-content-center position-relative">
        <div class="col-3">

            <img class="images" src="../../../assets/images/garbage3.png" alt="">
            <h3>Lorem, ipsum.</h3>
            <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
                accusantium!</p>

        </div>

        <div class="col-3">

            <img class="images" src="../../../assets/images/garbage4.png" alt="">
            <h3>Lorem, ipsum.</h3>
            <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
                accusantium!</p>

        </div>

        <div class="col-3">

            <img class="images" src="../../../assets/images/garbage5.png" alt="">
            <h3>Lorem, ipsum.</h3>
            <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
                accusantium!</p>

        </div>

        

    </div>
    <div class="text-center m-auto">
        <button>Help Me</button> 
    </div>

</section>